apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis.fullname" . }}-config
  labels:
    {{- include "redis.labels" . | nindent 4 }}
data:
  redis.conf: |
    bind 0.0.0.0
    port 6379
    dir /data
    maxmemory {{ .Values.config.maxmemory }}
    maxmemory-policy {{ index .Values.config "maxmemory-policy" }}
    appendonly {{ .Values.config.appendonly }}
    appendfsync {{ .Values.config.appendfsync }}
    save {{ .Values.config.save }}
    tcp-keepalive 300
    timeout 0
    loglevel notice
